.home {
    width: 100%;
}

/* First Section */
.first {
    background: url('https://cdn.dorik.com/661154201d6c29001119b9a0/images/photo-1614086138082-8f9f4bed81e4-JAyyF.jpeg') no-repeat;
    background-size: 100% 100%;
    color: #fff;
    padding: 280px 20px;
    text-align: center;
}

.button-svg {
    width: 55px;
    height: 100px;
}

.first-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first h1 {
    font-size: 56px;
    margin-bottom: 20px;
    font-family: Aldhabi, serif;
}

.first button {
    background-color: transparent;
    color: #0056b3;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Aldhabi, serif;
    transition: background-color 0.3s ease;
}

/* Second Section */
.second {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    flex-direction: column;
    gap: 70px;
    font-family: Aldhabi, serif;
}

.second-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
}

.second h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: Aldhabi, serif;
}

.second-right {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
}

.second-svg {
    width: 100px;
}

.second h4 {
    font-size: 28px;
    font-family: Aldhabi, serif;
}

.icon-text {
    margin-bottom: 20px;
    width: 300px;
}

.icon-text span {
    display: inline-block;
    margin-right: 10px;
}

.second-img img {
    max-width: 900px;
    border-radius: 5px;
}

/* Third Section */
.third {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 50px;
    gap: 100px;
    background-color: #3788d8;
}

.third-left {
    flex-grow: 0.1;
    background-color: #64a3e1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.third-left > div,
.third-right > div {
    margin-bottom: 30px;
}

.third-left h2,
.third-right h3 {
    color: white;
    margin: 20px 0;
    font-family: Aldhabi, serif;
}

.third-left h2 {
    font-size: 48px;
}

.third-left div,
.third-right div {
    color: white;
    line-height: 1.6;
}

.third-first {
    padding: 10px 30px;
    text-align: left;
}

.third-img {
    width: 300px;
    height: 370px;
    border-radius: 10px;
}

.third-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.third-content {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: left;
}

.third-right h3 {
    font-size: 28px;
}

.third-button {
    background-color: #0066cc;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    width: 50%;
    transition: background-color 0.3s;
}

@media (max-width: 768px) {
    .third {
        flex-direction: column;
        padding: 20px;
    }

    .third-left,
    .third-right {
        width: 100%;
    }
}

/* Fourth Section */
.fourth {
    padding: 80px 50px;
    font-family: Aldhabi, serif;
    color: white;
}

.fourth h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: Aldhabi, serif;
}

.fourth-item h3 {
}

.fourth-content {
    max-width: 600px;
    margin: 0 auto 40px;
}

.fourth-tit-text {
    font-size: 24px;
    font-family: Aldhabi, serif;
}

.fourth-text {
    font-size: 24px;
    font-family: Aldhabi, serif;
}

@keyframes underlineAnimation {
    from {
        width: 0;
        right: 0;
    }
    to {
        width: 100%;
        right: 50%;
    }
}

.fourth-item-span {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    color: #0066cc;
}

.fourth-item-span:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7px;
    height: 2px;
    background-color: #000;
    animation: underlineAnimation 0.3s forwards;
}

@keyframes underlineAnimation {
    from {
        width: 0;
        left: 0;
    }
    to {
        width: 20%;
        left: 40%;
    }
}

.fourth-items {
    display: flex;
    justify-content: space-between;
}

.fourth-item {
    flex: 0 0 48%;
    display: grid;
    gap: 10px;
}

.fourth-item img {
    width: 100%;
    border-radius: 5px;
}
