.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    background-color: #242424;
    height: 95px;
    width: 100%;
    position: static;
}

.header--brand {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-right: auto;
    gap: 5px;
}

.header-brand--title {
    color: #fef4d9;
}

.header--navs {
    display: flex;
    align-items: center;
}

.header-nav--links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.header-nav--links li {
    margin-right: 20px;
}

.header-nav--link {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.user-modal {
    position: absolute;
    right: 100px;
    top: 80px;
    background-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    z-index: 100;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Aldhabi, serif;
    font-size: 28px;
}

.user-modal span {
    font-size: 24px;
}

.header-user-icon {
    cursor: pointer;
}

.header-nav--link:hover {
    color: #007bff;
}

.header-nav--buttons {
    display: flex;
    justify-content: space-between;
}

.header-nav--button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 14px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.header-nav--button:hover {
    background-color: #0056b3;
}
