.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #242424;
    height: 55px;
    width: 100%;
    padding: 0 20px;
}

.footer-first {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}