html {
    overflow-y: scroll;
}

#root {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100%;
}

.main {
    min-height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
